= simple_form_for Comment.new, remote: true do |form|
  .form-group
    =form.label action="text"
    =form.text_area :text, label: true, placeholder: "Комментарий", :class => "form-control"
    =form.text_field :task_id, hidden: true, value: @task.id
  .form-group
    =form.button type="submit", class: "btn btn-primary", value:  "Оставить комментарий"
