.tasks {
    margin-top: 20px;
   .delete {
       color: red;
   }

   .edit {
       color:green;
   } 
}
.comment{
       background-color: #afdafc;
       border-radius: 3px;
       margin-bottom: 20px;
   }